:root {
    --first-color: #5585b5;
    --second-color: #53a8b6;
    --third-color: #79c2d0;
    --fourth-color: #bbe4e9;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

#canvas {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    height: 100vh;
}

#menu {
    display: flex;
    flex-direction: column;
    background-color: var(--fourth-color);
}

#convas-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu__btn {
    border-bottom: 1px solid white;
    padding: 1rem;
    background-color: var(--fourth-color);
    font-size: 1rem;
}

.menu__btn:hover {
    cursor: pointer;
    background-color: var(--first-color);
}

/**
 * Modal Component
 */

.modal__container {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, .6);
    transition: opacity .25s ease;
}

.modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.modal__title {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2rem;
}

.modal-state {
    display: none;
}

.modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 50%;
    margin: 2rem auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    max-height: 50%;
}

.modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.modal__close:after,
.modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
    background: #aaa;
}

.modal__close:before {
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

    .modal__inner {
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
}

/**
* Find Shortest Path Form
*/

#shortest-path-form {
    display: flex;
    padding: 1rem 0;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

#shortest-path-form input {
    padding: 0.7em;

}

#shortest-path-form input[type="text"] {
    border: 1px solid gray;
    flex-grow: 2;
}

#shortest-path-form input[type="submit"] {
    border: 1px solid var(--first-color);
    background-color: var(--first-color);
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
}